@font-face {
  font-family: "Vazirmatn-Regular"; /*Can be any text*/
  src: local("Vazirmatn-Regular"),
    url("./assets/fonts/Vazirmatn-Regular.ttf") format("truetype");
}

body {
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Vazirmatn-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
