.AboutTest {
  flex-grow: 1;
  background-color: #dcf2ff;
  padding: 15px;
  font-size: larger;
  color: midnightblue;
}
.AboutTest h2 {
  text-align: center;
  margin-bottom: 20px;
}
.AboutTest p {
  padding: 0 5%;
}
