.DataListItem {
  width: 100%;
  height: 100%;
  background-color: inherit;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  .remove-btn {
    border: none;
    background-color: inherit;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    border-radius: 5px;
    &:hover {
      background: gold;
    }
  }
  a {
    background-image: url("../assets/icons/more.svg");
    width: 40px;
    height: 40px;
    background-size: contain;
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
      background-color: cadetblue;
    }
  }
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    .container {
      h3 {
        text-align: center;
        margin-bottom: 15px;
      }
      .control {
        display: flex;
        justify-content: center;
        gap: 20px;
        button {
          width: 90px;
          padding: 0px 10px;
          border-radius: 10px;
          font-size: large;
          color: white;
          &.remove {
            background-color: orange;
            &:hover {
              background-color: red;
            }
          }
          &.cancel {
            background-color: lightblue;

            &:hover {
              background-color: blue;
            }
          }
        }
      }
    }
  }
}
