.DataList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  header {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 0;
    h2 {
      text-align: center;
      width: 250px;
    }
    div {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-size: larger;
      }
      button {
        background-image: url("../../assets/icons/tune.svg");
        width: 40px;
        height: 40px;
        background-size: cover;
        border-radius: 5px;
        &:hover {
          background-color: cadetblue;
        }
      }
    }
  }

  .list {
    flex-grow: 1;
    background-color: chartreuse;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    .list-item {
      width: 250px;
      height: fit-content;
      border-radius: 10px;
    }
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
  }
}
