.Waiting[data-display="false"] {
  display: none;
}
.Waiting[data-display="true"] {
  height: 100%;
  background-color: #dbf9d8;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  /*  */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.Waiting div {
  width: fit-content;
  background-color: cadetblue;
  padding: 20px;
}
.Waiting button {
  border: none;
  font-size: large;
  background-color: lightcoral;
  width: 75px;
}
