.AboutUs {
  flex-grow: 1;
  background-color: #ecf87f;
  padding: 15px;
  font-size: larger;
  color: maroon;
}
.AboutUs h2 {
  text-align: center;
  margin-bottom: 20px;
}
.AboutUs p {
  padding: 0 5%;
}
